@import url("https://cdn.nav.no/aksel/@navikt/ds-css/7.12.2/index.min.css");
@import "header.css";


main{
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px;
}


a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: var(--a-font-size-heading-xlarge);
}

h2{
    padding: var(--a-spacing-7) 0;
    font-size: var(--a-font-size-heading-medium);
}


.marker-som-mottatt{
    padding-left: 1rem;
}

.tilbake-til-alle-soknader{
    padding-bottom: 1rem;
}